OWNER_NAME="⌷ ׄ⃝🎀 ᰷ ✧ ࣪  𝐑̸̷𝐔̶𝐁̷͠𝐘𝐉𝐀̶𝐍𝚵̸̷  𓂃𔘓"
PREFIX="."
MODE='private'
AUTO_VIEW_STATUS="on"
AUTO_SAVE_STATUS="off"
BOT_NAME= "⌷ ׄ⃝🎀 ᰷ ✧ ࣪  𝐑̸̷𝐔̶𝐁̷͠𝐘𝐉𝐀̶𝐍𝚵̸̷  𓂃𔘓"
IMAGE_MENU= "https://static.animecorner.me/2023/08/op2.jpg"
NUMERO_OWNER= "917439317360"
OWNER_NAME= "⌷ ׄ⃝🎀 ᰷ ✧ ࣪  𝐑̸̷𝐔̶𝐁̷͠𝐘𝐉𝐀̶𝐍𝚵̸̷  𓂃𔘓"
DATABASE_URL= ""
WARN_COUNT= "3"
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='on'
ANTI_DELETE_MESSAGE='on'
